<div id="topbar">
  <div id="topbar-logo">
    <a href="{{ .Site.BaseURL }}">
      <img src="{{ "/android-icon-48x48.png" | relURL }}" />
    </a>
  </div>

  <div id="topbar-title" class="hideiftoosmall">
    <a class="no-color" href="{{ .Site.BaseURL }}">
      <h1>{{ .Site.Title }}</h1>
    </a>
  </div>

  <div id="topbar-prompt">
    <div>
    <p class="prompt">ls</p>
    <p>
      <nav>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class="topbar-nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}-active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Identifier }}/</a>
        {{ end }}
      </nav>
    </p>
    <label class="typewriter prompt">open "{{ lower .Title }}"</label>
    </div>
  </div>
</div>
